.wrapper {
  background-color: #af0206;
  min-height: 100vh;
}

.widthfull {
  width: 100%;
}

.tab-bar-wrap {
  margin: 0;
  padding: 0;
}

.tab-bar {
  position: relative;
  width: 33.3333%;
  text-align: center;
  background-color: #6c0e0e;
  color: #fe8585;
  border-radius: 15px 15px 0 0;
  margin: 2px;
  height: 30px;
  padding: 5px;
}

.tab-bar.active {
  height: 50px;
  background-color: #af0206;
  border-top: 1px solid #f9cd90;
  border-left: 1px solid #cc593f;
  border-right: 1px solid #cc593f;
}

.tab-bar.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 3px;
  background-color: #eee;
  border-radius: 3px;
  margin-left: -20px;
}

.tab-bar.active .tab-bar-title {
  display: none;
}

.tab-bar-logo {
  width: 60%;
  height: 36px;
  display: none;
}

.tab-bar.active .tab-bar-logo {
  display: inline-block;
}

.tab-content {
  padding: 10px;
}

.expenses-wrap {
  padding: 10px;
}

.expenses-text {
  font-size: 16px;
  padding: 5px 35px;
  border: 1px solid #ffeab5;
  color: #ffeab5;
  border-radius: 20px;
}

.center-popup {
  width: 90%;
  max-width: 576px;
  max-height: 86vh;
}

.center-popup .popup-wrap {
  padding: 10px;
  white-space: break-spaces;
  line-height: 1.4;
  background-color: #fff;
}