$white = #fff;
$black = #000;
$gold = #ffd978;
$gold-d = #fbbf52;
$gold-s = #fade94;
$red = #ff0000;
$gray = #666;
$gray-s = #999;
$gray-ss = #ccc;

.select-number-wrapper {
  .search-number-wrapper {
    padding: 12px;
    border-radius: 10px;
    background-color: $white;
  }

  .select-city {
    width: 100%;
    border: 1px solid $gold;
    border-radius: 8px;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 15px;
  }

  .city-tip {
    margin-right: 24px;
  }

  .city-tip::after {
    content: '';
    position: absolute;
    top: 8px;
    border: 6px solid transparent;
    border-top-color: $gold;
    right: -18px;
  }

  .location-icon {
    -webkit-animation: animte-jump 0.8s linear alternate infinite;
    -ms-animation: animte-jump 0.8s linear alternate infinite;
    -o-animation: animte-jump 0.8s linear alternate infinite;
    animation: animte-jump 0.8s linear alternate infinite;
  }

  .input-search-wrap {
    border: 1px solid $gold;
    border-radius: 10px;
  }

  .number-rule {
    margin-top: 5px;
    border-radius: 8px;
    overflow: hidden;
    color: $white;
    font-size: 14px;
    line-height: 1;

    .rule-item {
      text-align: center;
      width: 24%;
      padding: 12px 0;
      border: 1px solid $gold;
      border-radius: 20px;
      margin-top: 5px;
      transition: 0.3s;
      word-break: break-all;
      color: $black;
      background-color: $gold-d;
      font-size: 14px;
      font-weight: 400;

      &.active {
        color: $white;
      }
    }
  }

  .search-button {
    padding: 0 20px 0 24px;
    background-color: $gold-s;
    background-image: linear-gradient(to right, #f1e5bb, #ffdb85);
    border-radius: 10px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #473f28;
    transition: 0.3s;
  }

  .search-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    color: $gray-ss;
    font-size: 20px;
  }

  .input-search {
    padding-left: 40px;
    -webkit-appearance: none;
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    color: $black;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    outline: none;

    &::-webkit-input-placeholder {
      color: $gray !important;
    }

    &::-moz-placeholder {
      color: $gray !important;
    }

    &:-moz-placeholder {
      color: $gray !important;
    }

    &:-ms-input-placeholder {
      color: $gray !important;
    }
  }

  .phone-list {
    margin-top: 15px;
  }

  .phone-item {
    min-width: 136px;
    width: 50%;
    position: relative;
  }

  .phone-number {
    position: relative;
    font-size: 20px;
    color: $white;
    border: 1px solid $gold;
    min-width: 136px;
    border-radius: 10px;
    height: 56px;
    line-height: 32px;
    margin: 5px;
    transition: 0.3s;
    background-color: $white;

    &.isactive {
      border-color: $red;
      box-shadow: inset 0 0 10px $red;
    }

    .num-char {
      color: $black;
    }
  }

  .phone-num {
    position: relative;
    border: 1px solid $gold;
    font-size: 18px;
    width: 150px;
    border-radius: 10px;
    line-height: 28px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
  }

  .phone-info {
    font-size: 12px;
    line-height: 18px;
    width: 100%;
    color: $gray-s;
  }

  .phone-price {
    color: $gray-s;
  }

  .phone-text {
    color: #fd3134;
  }

  .empty-tip {
    font-size: 14px;
    padding: 10px;
    line-height: 24px;
    text-align: center;
    color: $gray-ss;
  }

  .change-button-wrap {
    margin-top: 15px;
  }

  .change-button {
    background-color: $gold-d;
    border-radius: 15px;
    font-size: 18px;
    border: none;
    color: $white;

    .van-icon, .van-button__text {
      font-weight: bold;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}